* {
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "wdth" 100,
            "YTLC" 500;
}

.container {
    margin: 0 auto;
    width: 1088px;
}

/*.hero {*/
/*    position: relative;*/
/*}*/

.page-header {
    background: rgba(0,0,0,0.3);
    position: absolute;
    width: 100%;
    color: white;
    z-index: 1;
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo span {
    color: #FF0000;
}

.header-logo {
    display: flex;
    font-size: 35px;
    gap: 10px;
    font-weight: bold;

}

.page-nav-list {
    display: flex;
    gap: 10px;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
}

.page-nav-link {
    padding: 30px 10px;
    text-decoration-line: none;
}

.page-nav-link a {
    color: white;
}

.page-nav-list a {
    text-transform: uppercase;
    text-decoration: none;
}

.page-nav-link:hover {
    background-color: rgba(255,255,255,0.3);
}

/* HERO CONTENT */
.hero-content {
    min-height: calc(100vh - 20px);
    background-image: url("../images/Image.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 123px;
    flex-direction: column;
    position: relative;
}
.hero-content::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    position: absolute;
}


.hero-content .container {
    display: flex;
    flex-direction: column;
}

.hero-buttons {
    padding: 50px;
}

.hero-cta {
    background-color: #ff0000;
    height: 55px;
    width: 55px;
    position: absolute;
    bottom: 0;
    border: 1px solid black;
    border-radius: 100px;
    left: 50%;
    transform: translate(-50%, 50%);
    background-image: url("../Images/Icon Arrow Down.svg");
    background-size: 21px;
    background-repeat: no-repeat;
    background-position: center;
}

.share-a-car {
    background-color: #FF0000;
    height: 66px;
    width: 220px;
    border: none;
    border-radius: 40px;
    box-shadow: 0 3px 6px #FF00004D;
    opacity: 99%;
    font-family: "Nunito Sans", "sans-serif";
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.share-a-car a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.key-features a {
    text-transform: uppercase;
    text-decoration: none;
    color: #FF0000;
}


.key-features {
    color: #FF0000;
    height: 66px;
    width: 220px;
    border: none;
    border-radius: 40px;
    box-shadow: 0 3px 6px #FF00004D;
    opacity: 99%;
    font-family: "Nunito Sans", "sans-serif";
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;

}
.hero-content .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
}



.hero-title {
    text-transform: uppercase;
    font-size: 90px;
    color: white;
    width: 643px;
    height: 123px;
    font-weight: bold;
    z-index: 1;
}

.hero-text {
    color: white;
    font-weight: bold;
    font-size: 16px;
    z-index: 1;
}


/*BLOG CONTENT*/


.blog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog_main_title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    height: 47px;
    width: 95px;
}

.blog_main_title {
    display: flex;
    justify-content: center;
    align-items: center;

}


/*.blog_main_title::before,*/
/*.blog_main_title::after {*/
/*    content: "";*/
/*    display: block;*/
/*    height: 4px;*/
/*    background: #222;*/
/*    flex-grow: 1;*/
/*}*/

.blog_article {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog_photo {
    height: 234px;
    width: 352px;
}


/*SERVICE */
.service {
    display: flex;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
}


.service .container{
    height: 643px;
    background-color: #28272C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.service_title {
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    height: 47px;
    width: 95px;
}

.service_article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;
    width: 230px;
}
.service_img {
    width: 170px;
    height: 170px;
    margin-top: 182px;
}

.service_button {
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 40px;
    box-shadow: 0px 3px 6px #FF00004D;
    opacity: 1;
    height: 40px;
    width: 140px;
    background-color: #ff0000;
    color: white;
    border-style: none;
}

.service_article_title_small {
    color: white;
    text-transform: uppercase;
    padding: 15px;
}

/*CONTACT*/

.contact  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact_title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    height: 47px;
    width: 95px;
}

.contact_photo {
    width: 444px;
    height: 316px;
}

form img{
    display: flex;
    flex-direction: row;
}


/*FOOTER CONTENT*/

.footer-logo span {
    color: #FF0000;
}

footer {
    background-color: #28272C;
    height: 232px;
    color: white;
    font-size: 25px;
}

.footer-logo {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.home-span {
    color: #FF0000;
}
.page-footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.page-footer-nav {
    display: flex;
    flex-wrap: wrap;
}

.page-footer-nav-link {
    padding: 5px;
    text-decoration-line: none;
}

.page-footer-nav-link a {
    color: white;
}

.page-footer-nav-list {
    height: 97px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1px;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    flex-direction: column;
    font-size: 14px;
}

.page-footer-nav-list a {
    text-transform: uppercase;
    text-decoration: none;
}

.page-footer-nav-link:hover {
    background-color: rgba(255,255,255,0.3);
}

.footer-logo span {
    color: #FF0000;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap: 10px;
    font-weight: bold;
}


