* {
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "wdth" 100,
            "YTLC" 500;
}

.container {
    margin: 0 auto;
    width: 1088px;
}

.hero {
    position: relative;
}

.page-header {
    background: rgba(0,0,0,0.3);
    position: absolute;
    width: 100%;
    color: white;
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo span {
    color: #FF0000;
}

.header-logo {
    display: flex;
    font-size: 35px;
    gap: 10px;
    font-weight: bold;
}

.page-nav-list {
    display: flex;
    gap: 10px;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
}

.page-nav-link {
    padding: 30px 10px;
    text-decoration-line: none;
}

.page-nav-link a {
    color: white;
}

.page-nav-list a {
    text-transform: uppercase;
    text-decoration: none;
}

.page-nav-link:hover {
    background-color: rgba(255,255,255,0.3);
}

/* HERO CONTENT */
.hero-content {
    min-height: calc(100vh - 20px);
    background-image: url("../images/Image.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 123px;
    flex-direction: column;
}

.hero-cta {
    background: white;
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 0;
    border: 1px solid black;
    border-radius: 100px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.hero-title {
    text-transform: uppercase;
    font-size: 90px;
    color: white;
    width: 643px;
    height: 123px;
    font-weight: bold;
}

.hero-text {
    color: white;
    font-weight: bold;
}